.nav-box{
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
}
.nav-box div:hover{
  color: rgb(242, 1, 1);
  transition: 0.2s;
}

@media (max-width: 768px) {
  .nav-box {
    width: 80%; 
    flex-direction: column; 
    align-items: center;
  }
  .nav-box div {
    margin: 5px 0;
  }
}

.box-parent {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
}

@media (min-width: 576px) {
  .card {
    width: 45%;
  }
  .box-parent {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .card {
    width: 34%; 
  }
  .box-parent {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .card {
    width: 23%; 
  }
}